<table class="responsive-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Street</th>
      <th>Postal Code</th>
      <th>City</th>
    </tr>
  </thead>
  <tbody *ngIf="hotels">
    <tr *ngFor="let hotel of hotels" (click)="hotelSelected.emit(hotel)" class="hma-pointer">
      <td>{{ hotel.name }}</td>
      <td>{{ hotel.address.street }}</td>
      <td>{{ hotel.address.postalCode }}</td>
      <td>{{ hotel.address.city }}</td>
    </tr>
  </tbody>
</table>

<div *ngIf="!hotels" class="progress">
  <div class="indeterminate"></div>
</div>