<table class="responsive-table">
  <thead>
    <tr>
      <th>Room #</th>
      <th>Floor</th>
      <th>Area (m2)</th>
      <th>Is Reserved</th>
      <th>Has a View</th>
      <th>Is VIP</th>
    </tr>
  </thead>
  <tbody *ngIf="rooms">
    <tr *ngFor="let room of rooms" (click)="this.roomSelected.emit(room);">
      <td>{{ room.number }}</td>
      <td>{{ room.floor }}</td>
      <td>{{ room.area }}</td>
      <td>{{ room.isReserved ? 'Yes' : 'No' }}</td>
      <td>{{ room.hasView ? 'Yes' : 'No' }}</td>
      <td>{{ room.isVIP ? 'Yes' : 'No' }}</td>
    </tr>
  </tbody>
</table>

<div *ngIf="!rooms" class="progress">
  <div class="indeterminate"></div>
</div>