<footer class="page-footer white">
  <div class="footer-copyright white">
    <div class="container black-text">
      <p>Notice: Hotel Management App (HMA) is a prototype proof of concept application.</p>
      &copy; Samuli Siitonen 2018
    </div>
  </div>
</footer>