<div class="row">
  <div class="col s12 m10">
    <h5>Rooms <span *ngIf="hotelName">for {{ hotelName }}</span></h5>
  </div>
  <div class="col s12 m2 right">
    <a [routerLink]="['/hotels', { outlets: { hotels: ['view'] } }]"  class="hma-link">Back to Hotels</a>
  </div>
</div>
<div class="row">
  <div class="col s12">
    <app-rooms-table [rooms]="rooms"></app-rooms-table>
  </div>
</div>