<div *ngIf="authService.isUserSignedIn()" class="z-depth-2">
  <nav>
    <div class="nav-wrapper red">
      <a routerLink="/home" class="brand-logo left hma-padding-left hma-pointer hide-on-small-only">Hotel Management App</a>
      <a routerLink="/home" class="brand-logo left hma-padding-left hma-pointer hide-on-med-and-up">HMA</a>
      <ul class="right">
        <li routerLinkActive="active"><a routerLink="/home" class="app-pointer">Home</a></li>
        <li (click)="onSignOut()"><a class="app-pointer">Sign Out</a></li>
        <li *ngIf="user"><a style="cursor: default;">{{ user.email }}</a></li>
      </ul>
    </div>
  </nav>
  <div class="nav-wrapper row hma-nav-link-collection white center-align">
    <div class="col s12 m3 offset-m1">
      <a
        [routerLink]="['/reservations', { outlets: { reservations: ['create'] } }]"
        routerLinkActive="hma-link-active"
        class="flow-text blue-text hma-link">
          <i class="material-icons left">create</i>Create Reservations
      </a>
    </div>
    <div class="col s12 m3">
      <a
        [routerLink]="['/reservations', { outlets: { reservations: ['view'] } }]"
        routerLinkActive="hma-link-active"
        class="flow-text blue-text hma-link">
          <i class="material-icons left">view_list</i>View Reservations
      </a>
    </div>
    <div class="col s12 m3">
      <a
        [routerLink]="['/hotels', { outlets: { hotels: ['view'] } }]"
        routerLinkActive="hma-link-active" 
        class="flow-text blue-text hma-link">
          <i class="material-icons left">view_list</i>View Hotels &amp; Rooms
      </a>
    </div> 
  </div>
</div>
