<div class="row">
  <div class="col s12 m6 offset-m3 l5 offset-l3">
    <div class="hma-card-panel">

      <div class="hma-card-header">
          <h5>Hotel Management App (HMA)</h5>
          <h5>Sign Up</h5>
      </div>

      <div *ngIf="isLoading" class="progress">
        <div class="indeterminate"></div>
      </div>

      <div class="hma-card-content">
        <p>Only the employees of company X may sign up here.</p>

        <p *ngIf="error"  class="red-text">
          {{ error['name'] }}
          <br>
          {{ error['message'] }}
        </p>
  
        <form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
          <div class="row">
            <div class="input-field col s12">
              <input
                formControlName="email"
                type="email"
                id="email"
                name="email"
              >
              <label for="email">Email Address</label>
            </div>
            <div *ngIf="signUpForm.get('email').touched && signUpForm.get('email').errors" class="col s12">
                <p class="red-text">A valid email address is required.</p>
              </div>
            <div class="input-field col s12">
              <input
                formControlName="password"
                type="password"
                id="password"
                name="email"
              >
              <label for="password">Password (minimum 6 characters)</label>
            </div>
            <div *ngIf="signUpForm.get('password').touched && signUpForm.get('password').errors" class="col s12">
              <p class="red-text">A password of minimun 6 characters is required.</p>
            </div>
          </div>
          <div class="row margin-bottom-none">
            <div class="col 12 m5 right">
              <button
                [disabled]="!signUpForm.valid"
                type="submit"
                class="btn-flat green white-text right"
              >
                Sign Up
              </button>
            </div>
            <div class="col s12 m7 margin-top">
                <a 
                  routerLink="../sign-in"
                  class="hma-pointer"
                >
                  Have an account? Sign In here
                </a>
            </div>
          </div>
          </form>
      </div>
    </div>
  </div>
</div>
