<app-navbar></app-navbar>

<div *ngIf="isLoading" class="progress hma-margin-top-none">
  <div class="indeterminate"></div>
</div>

<div class="container hma-content hma-margin-bottom">
  <router-outlet></router-outlet>
</div>

<app-footer></app-footer>