<div *ngIf="reservations" class="collection with-header">
  <a
    *ngFor="let reservation of reservations"
    (click)="this.reservationSelected.emit(reservation)"
    class="collection-item"
  >
  {{ reservation.customer.lastName }}, {{ reservation.customer.firstName }}<span class="right">{{ reservation.customer.email }}</span>
  </a>
</div>
<div *ngIf="!reservations" class="collection">
  <div *ngIf="!hotels" class="progress">
    <div class="indeterminate"></div>
  </div>
</div>