<div class="row">
  <div class="col s12 m6 offset-m3 l5 offset-l3">
    <div class="hma-card-panel">

      <div class="hma-card-header">
          <h5>Hotel Management App (HMA)</h5>
          <h5>Sign In</h5>
      </div>

      <div *ngIf="isLoading" class="progress">
        <div class="indeterminate"></div>
      </div>

      <div class="hma-card-content">
        <p>Only the employees of company X may sign in here.</p>

        <p *ngIf="error"  class="red-text">
          {{ error['name'] }}
          <br>
          Please ensure that the provided credentials are correct or try again 
          later.
        </p>
  
        <form [formGroup]="signInForm" (ngSubmit)="onSignIn()">
          <div class="row">
            <div class="input-field col s12">
              <input
                formControlName="email"
                type="email"
                id="email"
                name="email"
              >
              <label for="email">Email Address</label>
            </div>
            <div *ngIf="signInForm.get('email').touched && signInForm.get('email').errors" class="col s12">
                <p class="red-text">Valid email address is required.</p>
              </div>
            <div class="input-field col s12">
              <input
                formControlName="password"
                type="password"
                id="password"
                name="email"
              >
              <label for="password">Password</label>
            </div>
            <div *ngIf="signInForm.get('password').touched && signInForm.get('password').errors" class="col s12">
              <p class="red-text">Password is required.</p>
            </div>
          </div>
          <div class="row margin-bottom-none">
            <div class="col 12 m5 right">
              <button
                [disabled]="!signInForm.valid"
                type="submit"
                class="btn-flat blue white-text right"
              >
                Sign In
              </button>
            </div>
            <div class="col s12 m7 margin-top">
                <a 
                  routerLink="../sign-up"
                  class="hma-pointer"
                >
                  Need an account? Sign Up here
                </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
  