<div class="row">
  <div class="col s12">
    <h5>Room Reservations by Hotel</h5>
  </div>
  <div class="´col s12">
    <p class="flow-text">
      Select a hotel from the dropdown below and the list of 
      reservations shall update accordingly. Click a list item to view
      more details about a particular reservation.
    </p>
</div>
<div *ngIf="hotels" class="row">
    <div class="input-field col s12 m6 offset-m3">
      <select ngModel #hotelSelect (change)="onSelectHotel(hotelSelect.value)" materialize="material_select">
        <option value="" selected disabled>Select a Hotel</option>
        <option *ngFor="let hotel of hotels" [value]="hotel._id">{{  hotel.name }}</option>
      </select>
    </div>
</div>
<div class="row">
  <div class="col 12 m6 offset-m3">
    <app-reservations-list *ngIf="shouldShowList" [reservations]="reservations" (reservationSelected)="onReservationSelected($event)"></app-reservations-list>
  </div>
</div>