<form materialize (ngSubmit)="onCreate()" [formGroup]="customerForm">
  <div class="row">
    <div class="input-field col s12 m8 offset-m2">
      <input formControlName="firstName" type="text" id="firstName">
      <label for="firstName">* First Name</label>
    </div>
    <div class="input-field col s12 m8 offset-m2">
      <input formControlName="lastName" type="text" id="lastName">
      <label for="lastName">* Last Name</label>
    </div>
    <div class="input-field col s12 m8 offset-m2">
      <input formControlName="phoneNumber" type="text" id="phoneNumber">
      <label for="phoneNumber">* Phone Number</label>
    </div>
    <div class="input-field col s12 m8 offset-m2">
      <input formControlName="email" type="email" id="email">
      <label for="email">* Email Address</label>
    </div>
  </div>
  <div formGroupName="address" class="row">
    <div class="input-field col s12 m8 offset-m2">
      <input formControlName="street" type="text" id="street">
      <label for="street">* Street</label>
    </div>
    <div class="input-field col s12 m8 offset-m2">
      <input formControlName="postalCode" type="text" id="postalCode">
      <label for="postalCode">* Postal Code</label>
    </div>
    <div class="input-field col s12 m8 offset-m2">
      <input formControlName="city" type="text" id="city">
      <label for="city">* City</label>
    </div>
  </div>
  <br>
  <!-- <div class="row"> -->
    <div class="right-align">
      <button (click)="onCancel()" type="button" class="btn-flat red white-text">Cancel</button>
      <button [disabled]="!customerForm.valid || !allowSubmits" type="submit" class="btn-flat green white-text">Create</button>
    </div>
  <!-- </div> -->
</form>