<div class="card-panel">
  <a routerLink="/home" class="hma-link right">Home</a>
  <div *ngIf="!user" class="progress">
    <div class="indeterminate"></div>
  </div>
  <div *ngIf="user">
    <h5>User Details</h5>
    <p>This user has following email address: {{ user.email }}</p>
  </div>
</div>