<div *ngIf="reservationSteps[stepIndex] === 'SELECT_HOTEL'" class="row">

  <p *ngIf="hotels" class="flow-text col s12 center-align">
    Select a hotel to begin reservation creation.
  </p>

  <div *ngIf="hotels" class="row">
      <div class="input-field col s12 m6 offset-m3">
        <select ngModel #hotelSelect (change)="onSelectHotel(hotelSelect.value)" materialize="material_select">
          <option value="" selected disabled>Select a Hotel</option>
          <option *ngFor="let hotel of hotels" [value]="hotel._id">{{  hotel.name }}</option>
        </select>
      </div>
  </div>
</div>

<div *ngIf="reservationSteps[stepIndex] === 'SELECT_ROOM'"class="row">
  <p *ngIf="rooms" class="flow-text col s12 center-align">
    Select a room for the reservation.
  </p>
  <app-rooms-table [rooms]="rooms" (roomSelected)="onRoomSelected($event)" class="col s12 hma-selectable-table-rows"></app-rooms-table>
</div>

<div *ngIf="reservationSteps[stepIndex] === 'FILL_IN_CUSTOMER_DETAILS'" class="row">
  <h5 class="center-align">Fill In Customer Details</h5>
  <p class="flow-text center-align">All fields are required.</p>
  <app-customer-details-form [allowSubmits]="!isSendingReservation" (creationAction)="onCreationAction($event)"></app-customer-details-form>
</div>