<div class="row">
  <div class="col s12 m7">
      <h5>Details for Reservation under <span *ngIf="reservation && reservation.customer">{{ reservation.customer.lastName }}</span></h5>
  </div>
  <div class="col s12 m2 right">
    <a [routerLink]="['/reservations', { outlets: { reservations: ['create'] } }]"  class="hma-link right">To Creation</a>
  </div>
  <div class="col s12 m2 right">
      <a [routerLink]="['/reservations', { outlets: { reservations: ['view'] } }]"  class="hma-link right">To Viewing</a>
  </div>
</div> 
<br>

<div *ngIf="isLoading" class="progress">
  <div class="indeterminate"></div>
</div>

<div *ngIf="reservation && reservation.customer">
  <p class="flow-text">This reservation was created by <a [routerLink]="['/users', reservation.createdByUser._id]">{{ reservation.createdByUser.email }}</a></p>
  <p class="flow-text">Click a panel to view more.</p>
  <ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active"><i class="material-icons left">face</i>Basic Information</div>

      <div class="collapsible-body">
        <div class="row">
          <div class="input-field hma-detail-field col s6">
            <span>First Name</span>
            <input readonly type="text" id="firstName" [value]="reservation.customer.firstName">
          </div>
          <div class="input-field hma-detail-field col s6">
              <span>Last Name</span>
            <input readonly type="text" id="lastName" [value]="reservation.customer.lastName">
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons left">email</i>Contact</div>

      <div class="collapsible-body">
        <div class="row">
          <div class="input-field hma-detail-field col s6">
              <span>Phone Number</span>
            <input readonly type="text" id="phoneNumber" [value]="reservation.customer.phoneNumber">
          </div>
          <div class="input-field hma-detail-field col s6">
              <span>Email Address</span>
            <input readonly type="email" id="email" [value]="reservation.customer.email">
          </div>
        </div>
        <div class="row">
          <div class="input-field hma-detail-field col s6">
              <span>Street</span>
            <input readonly type="text" id="street" [value]="reservation.customer.address.street">
          </div>
          <div class="input-field hma-detail-field col s6">
              <span>Postal Code</span>
            <input readonly type="text" id="postalCode" [value]="reservation.customer.address.postalCode">
          </div>
          <div class="input-field hma-detail-field col s6">
              <span>City</span>
            <input readonly type="text" id="city" [value]="reservation.customer.address.city">
          </div>
        </div>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons left">details</i>Room Details</div>

      <div class="collapsible-body">
        <div class="row">
          <div class="input-field hma-detail-field col s6">
              <span>Room #</span>
            <input readonly type="text" [value]="reservation.room.number">
          </div>
          <div class="input-field hma-detail-field col s6">
              <span>Floor</span>
            <input readonly type="text" [value]="reservation.room.floor">
          </div>
          <div class="input-field hma-detail-field col s6">
              <span>Area</span>
            <input readonly type="text" [value]="reservation.room.area">
          </div>
          <div class="input-field hma-detail-field col s6">
              <span>Has a View</span>
            <input readonly type="text" [value]="reservation.room.hasAView ? 'Yes': 'No'">
          </div>
          <div class="input-field hma-detail-field col s6">
              <span>Is VIP</span>
            <input readonly type="text" [value]="reservation.room.isVIP ? 'Yes': 'No'">
          </div>
          <div class="input-field hma-detail-field col s6">
              <span>(Is Reserved)</span>
            <input readonly type="text" [value]="reservation.room.isReserved ? 'Yes': 'No'">
          </div>
        </div>
      </div>
    </li>
  </ul>

  <!-- <div class="row">
    <div class="input-field hma-detail-field col s6">
      <span>First Name</span>
      <input readonly type="text" id="firstName" [value]="reservation.customer.firstName">
    </div>
    <div class="input-field hma-detail-field col s6">
        <span>Last Name</span>
      <input readonly type="text" id="lastName" [value]="reservation.customer.lastName">
    </div>
  </div>
  <br>
  <div class="divider"></div>
  <br>
  <div class="row">
    <div class="input-field hma-detail-field col s6">
        <span>Phone Number</span>
      <input readonly type="text" id="phoneNumber" [value]="reservation.customer.phoneNumber">
    </div>
    <div class="input-field hma-detail-field col s6">
        <span>Email Address</span>
      <input readonly type="email" id="email" [value]="reservation.customer.email">
    </div>
  </div>
  <br>
  <div class="divider"></div>
  <br>
  <div class="row">
    <div class="input-field hma-detail-field col s6">
        <span>Street</span>
      <input readonly type="text" id="street" [value]="reservation.customer.address.street">
    </div>
    <div class="input-field hma-detail-field col s6">
        <span>Postal Code</span>
      <input readonly type="text" id="postalCode" [value]="reservation.customer.address.postalCode">
    </div>
    <div class="input-field hma-detail-field col s6">
        <span>City</span>
      <input readonly type="text" id="city" [value]="reservation.customer.address.city">
    </div>
  </div>
</div> -->


