form input.ng-valid.ng-touched  {
  border-bottom: 2px solid green !important;
}

form input.ng-invalid.ng-touched  {
  border-bottom: 2px solid red !important;
}

body {
  background-color: #f5f5f5;
}

.hma-pointer {
  cursor: pointer;
}

.hma-link {
  cursor: pointer;
}

.hma-link-active {
  border-bottom: 2px solid #42a5f5;
}

.hma-link:hover {
  border-bottom: 2px solid #42a5f5;
}

.hma-card-panel {
  box-shadow: 1px 1px 10px grey;
  border-radius: 2px;
  margin-top: 10px;
  background-color: white;
}

.hma-card-panel .hma-card-header {
  border-radius: 2px 2px 0px 0px;
  padding: 5px 10px;
  background-color: #f44336;
  color: white;
}

.hma-card-panel .hma-card-content {
  padding: 25px 25px;
}

.hma-tabs-container-min-height {
  min-height: 600px;
}

.hma-selectable-table-rows tr:hover {
  cursor: pointer;
  background-color: lightgray;
}