<div class="row">
  <div class="col s12 m8 offset-m2">
      <h5>Welcome to Hotel Management App (HMA) Home</h5>
  </div>
  <div class="col s12 m8 offset-m2">
    <p class="flow-text">
      You can navigate the app by using the links above.
    </p>
  </div>
</div>

