<div class="row">
  <div class="col s12">
    <h5>All Hotels</h5>
  </div>
  <div class="´col s12">
    <p class="flow-text">
      Click a row in the table below to view rooms for a given hotel.
    </p>
</div>
<div class="row">
  <div class="col s12">
    <app-hotels-table [hotels]="hotels" (hotelSelected)="onHotelSelected($event)" class="hma-selectable-table-rows"></app-hotels-table>
  </div>
</div>